# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.egg-info/
*.pem

# Virtual env
.venv/
env/
venv/

# Environment
.env
data/.env
data/generated_images/
screenshots/

# Data dynamic
data/*.json

# IDE
.vscode/
.idea/

# OS
Thumbs.db
desktop.ini
.zip